JWT_SECRET=29ULIET90IfzyrflnPpGW93nlLDfPjCKp7I13ZOaOiw=
JWT_EXPIRES_IN=8h


DB_HOST=group4-pos-mysql.mysql.database.azure.com
DB_USER=posadmin
DB_PASSWORD=gikGyb-mafnog-8tocfu
DB_NAME=restaurant_pos
DB_PORT=3306
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false